<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chat.chat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".chat.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".chat.ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".chat.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".chat.OptionsActivity"
            android:label="@string/title_activity_options"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".chat.AddPoll" />
        <activity android:name=".chat.VoteActivity" />
        <activity android:name=".chat.NoticeViewer" />
        <activity android:name=".chat.ImageTitleActivity" />
        <activity android:name=".chat.ImageViewer"></activity>
    </application>

</manifest>